@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
@import "reset.css";

@import "components/topbar.css";
@import "components/section.css";

body {
  font-family: "Poppins", sans-serif;
  width: 800px;
  height: 100vh;
  margin: 0px 20px;
}
